:root {
    --color-back-body: rgb(199 237 237);
    --color-back-header: rgb(199 225 237);
    --color-text-body: rgb(21 92 45);
    --color-text-header: rgb(22 78 79);
    --color-text-h2: rgb(28 98 99);
    --color-text-h3: rgb(42 97 98);
    --color-text-dt: rgb(34 57 80);
    --color-text-link: rgb(93 102 11);


    /* --color-accent: rgb(199 237 237);
    --color-accent-inverted: rgb(255 208 0);
    --color-link: var(--color-accent);
    --color-link-inverted: var(--color-accent-inverted);
    --color-text: rgb(51 51 51);
    --color-text-inverted: rgb(255 255 255); */
}